*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
.clear{
    clear: both;
}
li {
    list-style-type: none;
}
body{
    font-family: Roboto, sans-serif;
}
.headers{
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    background-color: #000;
}
section{
    padding-top: 65px !important ; 
    padding-bottom: 130px !important;
}
header .headers{
    display: flex;
    justify-content: space-between;
    padding: 26px 15px;
    line-height: 50px;
}
header h1 {
    height: 50px;
}
header ul li{
    height: 50px;
    display: inline-block;
}
header ul li a{
    font-weight: 500;
    font-size: 24px;
    color:#fff;
    text-transform: uppercase;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    margin: 0 15px;
    text-decoration: none;
}
section h1{
   height: 50px;
   line-height: 50px;
   font-size: 33px;
   color: #000;
}
/* SECTION */
#main{
    background-color: #CCC;
    background-image: url(../img/Anh1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#main .headers{
    /* display: flex; */
    min-height: 700px;
    position: relative;
    align-items: center;
}
#main .info{
    max-width: 695px;
}
#main .info h1{
    padding-top: 390px;
    font-size: 120px;
    color: #FFF;
    line-height: 120px ;
}
#main .info p{
    letter-spacing: 2px;
    max-width: 630px;
    color: #FFF;
    font-size: 25px;
    line-height: 22px;
    margin-top: 180px;
    margin-bottom: 50px;
}
#main .info a{
    /* margin-top: 150px; */
    padding: 20px 80px;
    height: 70px ;
    font-size: 30px;
    line-height: 70px;
    text-decoration: none;
    color: #FFF;
    border: 2px #fff solid transparent ;
    background-color: #e8631c;
    border-radius:  5px;
}
#content {
    
    background: #e8631c;
    height: 1100px;
    
}
#content .content-section{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px; 
}
#content .content-section h4{
    font-size: 100px;
    color: #e8631c ;
}
#content .content-heading{
    color: #FFF;
    text-align: center;
    font-size: 55px;
    padding-top: 120px;
}
#content .content-sub-heading{
    padding: 0 320px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-top: 65px;
    margin-bottom: 90px;
}
#content .member{
    display: block;
    padding: 20px 0;
    margin: 0 40px;
    float: left;
    width: 372px;
    background-color: #303030; 
}
#content .member-img{
    width: 100%;
}

#content .member-heading{
    margin-top: 20px;
    color: #fff; 
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100;

}
#content .member-Paragrap{
    font-weight: 100;
    margin: 20px 10px;
    color: #fff; 
    font-size: 20px;
    text-align: center;
    
}
#content .Pricing{
    width: 100%;
    background-color: #303030;
    height: 1012px;
}
#content .bt{
    display: block;
    padding: 20px 0;
    margin: 0 40px;
    float: left;
    width: 372px;
    background-color: #e8631c; 
}
#content .bt img{
    width: 100%;
    padding: 65px 137px;
}

#content .bt-heading{
    margin-top: 20px;
    color: #fff; 
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100;

}
#content .bt-Paragrap{
    font-weight: 100;
    margin: 20px 10px;
    color: #fff; 
    font-size: 20px;
    text-align: center;
}
#content .bt a{
    margin: 0 23px;
    padding: 20px 100px;
    height: 65px ;
    font-size: 30px;
    line-height: 65px;
    text-decoration: none;
    color: #FFF;
    border: 2px #fff solid transparent ;
    background-color: #000;
    border-radius:  5px;    
}
.a{
    font-size: 90px;
    color: #303030 ;
}
#content .amazing {
    display: block;
    max-width: 1440;
    margin: 0 auto;
    padding: 0 15px; 
}
#content .amazing-section{
    background-color: #e8631c;
    height: 1000px;
}
#content .amazing-section img{
    width: 952px;
    height: 1000px;
    float: left;
}
#content .amazing-section h2 {
    font-size: 70px;
    font-weight: 100;
    color: #fff;
    text-align: to left;
    padding-top: 300px;
    padding-left: 1200px;

}
#content .amazing-section p {
    padding-top: 50px;
    font-weight: 100px;
    color: #fff;
    font-size: 40px;
    padding-left: 1200px;
}
#content .amazing-section1{
    background-color: #e8631c;
    height: 1000px;
}
#content .amazing-section1 img{
    width: 952px;
    height: 1000px;
    float: right;
}
#content .amazing-section1 h2 {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 100;
    color: #fff;
    text-align: to left;
    padding-top: 300px;
    padding-left: 150px;

}
#content .amazing-section1 p {
    padding-top: 50px;
    font-weight: 100px;
    color: #fff;
    font-size: 40px;
    padding-left: 150px;
}
#content .bt1{
    display: block;
    padding: 20px 0;
    margin: 0 40px;
    float: left;
    width: 372px;
    /* background-color: #e8631c;  */
}
/* #content .bt img{
    width: 100%;
    padding: 65px 137px;
} */

#content .bt1-heading{
    font-weight: 700;
    margin-top: 20px;
    color: #fff; 
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100;

}
#content .bt1-Paragrap{
    font-weight: 100;
    margin: 20px 10px;
    color: #fff; 
    font-size: 20px;
    text-align: center;
}

#content .bt2{
    display: block;
    padding: 20px 0;
    margin: 0 40px;
    float: left;
    width: 372px;
    background-color: #0d9ec2; 
}
#content .bt2 img{
    width: 100%;
    padding: 65px 137px;
}

#content .bt2-heading{
    margin-top: 20px;
    color: #fff; 
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 100;

}
#content .bt2-Paragrap{
    font-weight: 100;
    margin: 100px 10px;
    color: #fff; 
    font-size: 20px;
    text-align: center;
}

